/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */

.shadow1 {
  grid-area: top-left;
}

.shadow2 {
  grid-area: top-right;
}

.shadow3 {
  grid-area: btm-left;
}

.shadow4 {
  grid-area: btm-mid;
}

.shadow5 {
  grid-area: btm-right;
}


.container {
  display: grid;
  grid-template-areas: 
    'top-left top-left top-right'
    'top-left top-left top-right'
    'btm-left btm-mid btm-right';
  grid-gap: 10px;
  padding: 10px;
}
